{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
WTForms Example
{% endblock %}
{% block body %}
<div class="container">
    <form action="/index" method="POST">
        {{ form.csrf_token }}
         <ul>
            {% for error in form.csrf_token.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.entrydate) }}
        {{ form.recaptcha }}
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
</div>

{% endblock %}